<header class="header">
    <a class="link-home" href="{{ path('home') }}">
        <img class="header-logo" src="https://img1.telestar.fr/var/telestar/storage/images/media/images/2015/photos/20150414-sous-le-soleil-de/sous-le-soleil/837136-1-fre-FR/Sous-le-soleil_width1024.jpg" alt="Logo du site">
    </a>
    <div class="header-title">
        <h1 class="header-title-top">Le site officiel de la série Sous le soleil</h1>
        <span class="header-title-bottom">Par les maillots jaunes du tour de France</span>
    </div>
</header>