<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible"
              content="ie=edge">
        <title>Le site de Sous le soleil</title>
        <link rel="stylesheet" href="{{ asset('assets/css/reset.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
        {# Link to FontAwesome CDN #}
        <script src="https://kit.fontawesome.com/5fa5978a25.js"></script>
    </head>
    <body>

        {% include 'base/_header.html.twig' %}

        <main class="main">

            <nav class="nav">
                <a class="nav-links" href="{{ path('articles') }}">Tous les articles</a>
                <a class="nav-links" href="{{ path('authors') }}">Tous les auteurs</a>
            </nav>

            <div class="flash-messages">
                {% for messages in app.flashes %}
                    <div class="flash-message">
                        {% for message in messages %}
                            <p>{{ message }}</p>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>

            {% block main %}

            {% endblock %}
        </main>


        {% include 'base/_footer.html.twig' %}

    </body>
</html>
