{% extends 'base/base.html.twig' %}

{% block main %}

    <div class="all-authors">
        {% for author in authors %}
            <div class="author">
                <h2 class="author-name">{{ author.firstname }} {{ author.lastname }}</h2>
                <div class="authors-image bg-img" style="background-image: url('{{ author.image }}')">
                    <a href="{{ path('update_author', {'id': author.id}) }}" class="author-update"
                       title="Modifier cet auteur">
                        <i class="fas fa-pen-alt"></i>
                    </a>
                    <a href="{{ path('remove_author', {'id': author.id}) }}" class="author-remove" title="Supprimer cet auteur">
                        <i class="fas fa-trash-alt"></i>
                    </a>
                </div>
                <div class="btn-link">
                    <a href="{{ path('author', {'id': author.id}) }}">Voir l'auteur en détails</a>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}