{% extends 'base/base.html.twig' %}

{% block main %}

    {{ form_start(authorForm, {'attr': {'class': 'form'}}) }}

        {{ form_label(authorForm.firstname, 'Nom', {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(authorForm.firstname, {'attr': {'class': 'form-input'}}) }}

        {{ form_label(authorForm.lastname, 'Prénom', {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(authorForm.lastname, {'attr': {'class': 'form-input'}}) }}

        {{ form_label(authorForm.image, 'Photo', {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(authorForm.image, {'attr': {'class': 'form-input'}}) }}

        {{ form_label(authorForm.presentation, 'Présentation', {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(authorForm.presentation, {'attr': {'class': 'form-input'}}) }}

        <button class="form-submit" type="submit">Enregistrer</button>

    {{ form_end(authorForm) }}

{% endblock %}

