{% extends 'base/base.html.twig' %}

{% block main %}

    <div class="ctn">
        <div class="author-name">
            {{ author.firstname }} {{ author.lastname }}
        </div>

        <div class="author-image bg-img" style="background-image: url('{{ author.image }}')">
            <a href="{{ path('update_author', {'id': author.id}) }}" class="author-update"
               title="Modifier cet auteur">
                <i class="fas fa-pen-alt"></i>
            </a>
            <a href="{{ path('remove_author', {'id': author.id}) }}" class="author-remove" title="Supprimer cet auteur">
                <i class="fas fa-trash-alt"></i>
            </a>
        </div>

        <h2 class="author-articles-title">Tous les articles écrits par {{ author.firstname }}</h2>

        <ul class="author-articles">
            {% for article in author.articles %}
                <li><a href="{{ path('article', {'id': article.id}) }}">{{ article.title }}</a></li>
            {% endfor %}
        </ul>
    </div>

{% endblock %}