/*********** GLOBAL ***********/

a {
    text-decoration: none;
    color: inherit;
}

* {
    font-family: "Comic Sans MS", "Comic Sans", cursive !important;
    box-sizing: border-box;
}

.nav {
    display: flex;
    justify-content: center;
    padding: 50px;
}

.nav-links {
    margin: 0 20px;
    background-color: #52ee58;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px 5px #b1f9b4;
    color: white;
}

.main {
    background-image: url('https://www.artmajeur.com/medias/standard/g/o/goodaboom/artwork/8752588_winning-the-tour-de-france-m.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 50px;
}

.ctn {
    width: 50%;
    margin: 50px auto;
}

.bg-img {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}

.btn-link {
    text-align: center;
    margin-top: 50px;
}

.btn-link a {
    background-color: #e65656;
    padding: 10px;
    border-radius: 10px;
    margin-top: 30px;
    box-shadow: 3px 3px 8px 5px #f49f99;
    color: white;
}

.fa, .fas {
    font-family: "Font Awesome 5 Pro" !important;
}

.fa-pen-alt, .fa-trash-alt {
    font-size: 24px;
    padding: 10px;
}

.fa-pen-alt {
    color: #23b320;
}

.fa-trash-alt {
    color: #c90001;
}

.flash-messages {
    color: #fff;
    font-size: 24px;
}

.flash-message {
    padding: 30px;
    text-align: center;
}

/******************************************************/


/********** HEADER ************/

.header {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 20px;
    background-color: #c65757;
}

.header-logo {
    width: 100px;
    border-radius: 20px;
    box-shadow: 3px 3px 5px 6px #ccc;
}

.link-home {
    z-index: 2;
}

.header-title {
    text-align: center;
    flex: 1;
    margin-left: -100px;
    color: #fff;
}

.header-title-top {
    font-size: 24px;
    margin-bottom: 10px;
}

.header-title-bottom {
    font-size: 18px;
}

/******************************************************/


/********** HOMEPAGE ************/

.intro {
    text-align: center;
    background-color: #fffd0a;
    padding: 30px;
    line-height: 1.6;
    width: 50%;
    margin: 0 auto 30px;
}

/******************************************************/


/********** FOOTER ************/

.footer {
    width: 100%;
    background-image: url("../../assets/img/sous-le-soleil-footer.jpg");
    background-position: top;
    background-size: cover;
    height: 200px;
    border-top: 10px solid yellow;
}

.footer-quote {
    text-align: center;
    line-height: 200px;
    font-size: 30px;
    color: #fff924;
    text-shadow: 3px 3px #1a9ec3;
}

/******************************************************/


/*********** FORM ***********/

.form {
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 20px;
    background-color: #82daec;
}

.form-label {
}

.form-input {
    width: 100%;
    margin: 10px 0 20px;
    padding: 10px;
}

.form-input-content {
    height: 200px;
}

.form-submit {
    margin: 30px auto;
    display: block;
    font-size: 24px;
    background-color: #fffd0a;
    border-radius: 10px;
    cursor: pointer;
    padding: 10px 20px;
}

/******************************************************/


/*********** ALL AUTHORS ***********/

.all-authors {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.author {
    width: 25%;
    margin: 50px 30px;
}

.author-name {
    text-align: center;
    margin-bottom: 20px;
    color: #83e6f4;
    font-size: 20px;
    background-color: #0000FF;
    padding: 5px;
}

.authors-image {
    height: 400px;
    border: 10px solid yellow;
    border-radius: 20px;
    box-shadow: 11px 10px 10px 5px orange;
    display: flex;
    justify-content: end;
}

/******************************************************/


/*********** SINGLE AUTHOR ***********/

.author-image {
    height: 500px;
    border-radius: 20px;
    border: 20px solid #c65757;
    display: flex;
    justify-content: end;
}

.author-articles-title {
    font-size: 24px;
    margin-top: 50px;
    margin-bottom: 30px;
}

.author-articles {
    font-size: 20px;
    line-height: 1.6;
}

.author-articles-title, .author-articles {
    text-align: center;
    color: #fff;
}

/******************************************************/


/*********** ALL ARTICLES ***********/

.all-articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.article-card {
    width: 30%;
    margin: 30px;
}

.article-infos {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px;
    color: #2a1d68;
    background-color: #82daec;
    margin-bottom: 20px;
}

.articles-title {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    font-size: 26px;
    color: #fff;
}

.articles-image {
    position: relative;
    width: 100%;
    height: 400px;
    border: 10px solid #ff5087;
    border-radius: 20px;
    box-shadow: 11px 10px 10px 5px #ffa5b8;
    display: flex;
    justify-content: end;
}

.article-link {
    text-align: center;
    margin-top: 20px;
}

/******************************************************/


/*********** SINGLE ARTICLE ***********/

.article {
    width: 100%;
}

.article-title {
    text-align: center;
    color: #ce2626;
    background-color: yellow;
    padding: 30px;
    border-radius: 20px;
    margin-bottom: 30px;
    font-size: 30px;
}

.article-image {
    width: 100%;
    height: 500px;
    border: 10px solid #ff5087;
    border-radius: 20px;
    box-shadow: 11px 10px 10px 5px #ffa5b8;
    display: flex;
    justify-content: end;
}

.article-content {
    margin-top: 50px;
    background-color: #99e01d;
    padding: 40px 20px;
    border-radius: 50px;
    text-align: center;
    line-height: 1.4;
}


/******************************************************/