{% extends 'base/base.html.twig' %}

{% block main %}

    <div class="all-articles">
        {% for article in articles %}
            <article class="article-card">
                <div class="article-infos">
                    {# le filtre date de twig permet de convertir la date en chaîne de caractères (string) #}
                    <div class="article-date">
                        Publié le {{ article.publishedAt|date('d m Y') }}
                    </div>
                    <div class="article-author">Ecrit par
                        {# Si l'article a un auteur, j'affiche le prénom et le nom de celui-ci #}
                        {% if article.author %}
                            <a href="{{ path('author', {'id': article.author.id}) }}">{{ article.author.firstname }} {{ article.author.lastname }}</a>
                        {% endif %}
                    </div>
                </div>

                <div class="articles-image bg-img" style="background-image: url('{{ article.image }}')">
                    <h2 class="articles-title">{{ article.title }}</h2>
                    <a href="{{ path('update_article', {'id': article.id}) }}" class="article-update"
                       title="Modifier cet article">
                        <i class="fas fa-pen-alt"></i>
                    </a>
                    <a href="{{ path('remove_article', {'id': article.id}) }}" class="article-remove" title="Supprimer
                    cet article">
                        <i class="fas fa-trash-alt"></i>
                    </a>
                </div>
                {# lien vers l'article qui a pour url le chemin de la route 'article' + la wildcard {id} = l'id de l'article #}
                <div class="btn-link">
                    <a href="{{ path('article', {'id': article.id}) }}">Voir l'article en détails</a>
                </div>
            </article>
        {% endfor %}
    </div>

{% endblock %}