{% extends 'base/base.html.twig' %}

{% block main %}

    {# Balise ouvrante <form> #}

    {{ form_start(articleForm, {'attr': {'class': 'form'}}) }}

        {# balise <label> #}
        {{ form_label(articleForm.title, 'Titre', {'label_attr': {'class': 'form-label'}}) }}
        {# balise input #}
        {{ form_widget(articleForm.title, {'attr': {'class': 'form-input'}}) }}

        {{ form_label(articleForm.publishedAt, 'Date', {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(articleForm.publishedAt, {'attr': {'class': 'form-input'}}) }}

        {{ form_label(articleForm.content, 'Contenu', {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(articleForm.content, {'attr': {'class': 'form-input form-input-content'}}) }}

        {{ form_label(articleForm.image, 'Image', {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(articleForm.image, {'attr': {'class': 'form-input'}}) }}

        {{ form_label(articleForm.author, 'Auteur', {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(articleForm.author, {'attr': {'class': 'form-input'}}) }}

        <button class="form-submit" type="submit">Enregistrer</button>

    {# Balise fermante </form> #}
    {{ form_end(articleForm) }}

{% endblock %}

