{% extends 'base/base.html.twig' %}

{% block main %}

    <div class="ctn">
        <article class="article">
            <h2 class="article-title">{{ article.title }}</h2>
            <div class="article-infos">
                {# le filtre date de twig permet de convertir la date en chaîne de caractères (string) #}
                <div class="article-date">
                    Publié le {{ article.publishedAt|date('d m Y') }}
                </div>
                <div class="article-author">Ecrit par
                    {# Si l'article a un auteur, j'affiche le prénom et le nom de celui-ci #}
                    {% if article.author %}
                        <a href="{{ path('author', {'id': article.author.id}) }}">{{ article.author.firstname }} {{ article.author.lastname }}</a>
                    {% endif %}
                </div>
            </div>

            <div class="article-image bg-img" style="background-image: url('{{ article.image }}')">
                <a href="{{ path('update_article', {'id': article.id}) }}" class="article-update"
                   title="Modifier cet article">
                    <i class="fas fa-pen-alt"></i>
                </a>
                <a href="{{ path('remove_article', {'id': article.id}) }}" class="article-remove" title="Supprimer
                    cet article">
                    <i class="fas fa-trash-alt"></i>
                </a>
            </div>
            {# le filtre twig raw permet d'interpréter les balises html #}
            <div class="article-content">{{ article.content|raw }}</div>
        </article>

    </div>

{% endblock %}